In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from copy import deepcopy

In [3]:
products = pd.read_csv('data/product.csv')

In [4]:
locations = pd.read_csv('data/location.csv')

In [5]:
locations.head()

,location_id,STORE_LOCATION_LVL_RK4,STORE_LOCATION_LVL_RK3,STORE_LOCATION_LVL_RK2,STORE_LOCATION_LVL_RK1,STORE_OPEN_DTTM,STORE_CLOSURE_DTTM,VALID_FROM_DTTM,VALID_TO_DTTM,PROCESSED_DTTM,...,STORE_LOCATION_ATTRIB12_hashing,STORE_LOCATION_ATTRIB13_hashing,STORE_LOCATION_ATTRIB14_hashing,STORE_LOCATION_ATTRIB15_hashing,STORE_LOCATION_ATTRIB16_hashing,STORE_LOCATION_ATTRIB17_hashing,STORE_LOCATION_ATTRIB18_hashing,STORE_LOCATION_ATTRIB19_hashing,STORE_LOCATION_ATTRIB20_hashing,STORE_LOCATION_ATTRIB21_hashing
0,277,124,124,19,1,NaN,NaN,15Mar2018:14:08:08,01Jan5999:00:00:00,03Jan2020:07:00:25,...,6BA1D912365C006B003750C17E810A8C,6BA1D912365C006B003750C17E810A8C,B70EA5F8E1DD1E21F7485AADD433620F,FC5FD090934CE685C1C12E5E0311F1D4,3F0DA22658EF921D0F500BFDC5471DB3,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91
1,278,124,124,19,1,NaN,NaN,15Mar2018:14:08:08,01Jan5999:00:00:00,03Jan2020:07:00:25,...,6BA1D912365C006B003750C17E810A8C,6BA1D912365C006B003750C17E810A8C,B70EA5F8E1DD1E21F7485AADD433620F,0A7D98B3F3BA0A5BC89F693FB146FE40,3F0DA22658EF921D0F500BFDC5471DB3,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91
2,279,183,183,20,1,NaN,NaN,15Mar2018:14:08:08,01Jan5999:00:00:00,03Jan2020:07:00:25,...,6BA1D912365C006B003750C17E810A8C,6BA1D912365C006B003750C17E810A8C,B70EA5F8E1DD1E21F7485AADD433620F,FC5FD090934CE685C1C12E5E0311F1D4,3F0DA22658EF921D0F500BFDC5471DB3,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91
3,280,211,211,12,1,NaN,NaN,15Mar2018:14:08:08,01Jan5999:00:00:00,03Jan2020:07:00:25,...,67B1193B31375E3C959BB5246989D0CA,17AC9AE74D16FBC665FFB4CFC2DF24F5,B70EA5F8E1DD1E21F7485AADD433620F,FC5FD090934CE685C1C12E5E0311F1D4,3F0DA22658EF921D0F500BFDC5471DB3,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91
4,281,221,221,3,1,NaN,NaN,15Mar2018:14:08:08,01Jan5999:00:00:00,03Jan2020:07:00:25,...,67B1193B31375E3C959BB5246989D0CA,17AC9AE74D16FBC665FFB4CFC2DF24F5,B70EA5F8E1DD1E21F7485AADD433620F,FC5FD090934CE685C1C12E5E0311F1D4,3F0DA22658EF921D0F500BFDC5471DB3,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91

In [6]:
data = pd.read_csv('data/lt_train.csv')

In [7]:
data.shape

(550144, 14)

In [8]:
data.head()

,period_dt,NUM_CONSULTANT,PRICE_AFTER_DISC,PRICE_REGULAR,PRODUCT_LVL_RK6,PROMO1_FLAG,PROMO2_FLAG,STORE_LOCATION_LVL_RK2,STORE_LOCATION_LVL_RK3,STORE_LOCATION_LVL_RK4,demand,location_id,product_id,id
0,2019-04-08,0.0,1049.0,1049.0,9988,1.0,0.0,10,203,203,NaN,425,19474,0
1,2017-05-08,0.0,474.5,949.0,9988,0.0,0.0,10,189,189,1.016438,453,19474,1
2,2017-05-15,0.0,474.5,949.0,9988,0.0,0.0,10,189,189,0.019178,453,19474,2
3,2017-05-22,0.0,474.5,949.0,9988,0.0,0.0,10,189,189,0.019178,453,19474,3
4,2017-05-29,0.0,474.5,949.0,9988,1.0,0.0,10,189,189,0.016438,453,19474,4

In [9]:
data

,period_dt,NUM_CONSULTANT,PRICE_AFTER_DISC,PRICE_REGULAR,PRODUCT_LVL_RK6,PROMO1_FLAG,PROMO2_FLAG,STORE_LOCATION_LVL_RK2,STORE_LOCATION_LVL_RK3,STORE_LOCATION_LVL_RK4,demand,location_id,product_id,id
0,2019-04-08,0.0,1049.00,1049.0,9988,1.0,0.0,10,203,203,NaN,425,19474,0
1,2017-05-08,0.0,474.50,949.0,9988,0.0,0.0,10,189,189,1.016438,453,19474,1
2,2017-05-15,0.0,474.50,949.0,9988,0.0,0.0,10,189,189,0.019178,453,19474,2
3,2017-05-22,0.0,474.50,949.0,9988,0.0,0.0,10,189,189,0.019178,453,19474,3
4,2017-05-29,0.0,474.50,949.0,9988,1.0,0.0,10,189,189,0.016438,453,19474,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550139,2019-12-23,0.0,699.50,1399.0,113176,1.0,0.0,10,203,203,NaN,1326,148464,550139
550140,2019-12-30,0.0,699.50,1399.0,113176,1.0,0.0,10,203,203,NaN,1326,148464,550140
550141,2019-12-23,0.0,699.50,1399.0,113176,1.0,0.0,10,219,219,NaN,1380,148464,550141
550142,2019-12-30,0.0,699.50,1399.0,113176,1.0,0.0,10,219,219,NaN,1380,148464,550142
550143,2019-12-30,0.0,1049.32,1499.0,113178,0.0,0.0,10,54,54,NaN,1328,155459,550143

In [10]:
# data.iloc[:500000].to_csv('for_gpt.csv')

In [11]:
# #Заполняем пропуски в цене товара i (PRICE_REGULAR) на дату d медианной ценой этого товара по всем магазинам, в которых он продается, на данную дату d
# for i in data['product_id'].unique():
#   # print(i)
#   for d in data[data['product_id'] == i]['period_dt'].unique():
#     # print(d)
#     # print(all_data[(all_data['product_rk'] == i) & (all_data['period_start_dt'] == d)]['PRICE_REGULAR'].median())
#     data.loc[(data['product_id'] == i) & (data['period_dt'] == d), ['PRICE_REGULAR']] = data.loc[(data['product_id'] == i) & (data['period_dt'] == d)]['PRICE_REGULAR'].fillna(data.loc[(data['product_id'] == i) & (data['period_dt'] == d)]['PRICE_REGULAR'].median())
#     # print(all_data[(all_data['product_rk'] == i) & (all_data['period_start_dt'] == d)]['PRICE_REGULAR'])

In [12]:
# #Заполняем аналогично пропуски в переменной PRICE_AFTER_DISC
# for i in data['product_rk'].unique():
#   # print(i)
#   for d in data[data['product_rk'] == i]['period_start_dt'].unique():
#     # print(d)
#     # print(all_data[(all_data['product_rk'] == i) & (all_data['period_start_dt'] == d)]['PRICE_AFTER_DISC'].median())
#     data.loc[(data['product_rk'] == i) & (data['period_start_dt'] == d), ['PRICE_AFTER_DISC']] = data.loc[(data['product_rk'] == i) & (data['period_start_dt'] == d)]['PRICE_AFTER_DISC'].fillna(data.loc[(data['product_rk'] == i) & (data['period_start_dt'] == d)]['PRICE_AFTER_DISC'].median())
#     # print(all_data[(all_data['product_rk'] == i) & (all_data['period_start_dt'] == d)]['PRICE_AFTER_DISC'])

In [13]:
# Поработаем с пропущенными значениями
# Пропуски в категориальных переменных заполним соответствующими модами:
data['PROMO1_FLAG'] = data['PROMO1_FLAG'].fillna(data['PROMO1_FLAG'].mode()[0])
data['PROMO2_FLAG'] = data['PROMO2_FLAG'].fillna(data['PROMO2_FLAG'].mode()[0])

In [14]:
data = data.sort_values(['location_id', 'PRODUCT_LVL_RK6', 'period_dt'])

In [15]:
# Fill missings  (note: step is domain-specific)
data.reset_index().set_index(
    ['PRODUCT_LVL_RK6', 'location_id', 'period_dt'], inplace=True)
data['PRICE_REGULAR'] = data['PRICE_REGULAR'].ffill().bfill()

data.reset_index().set_index(['period_dt'], inplace=True)

# Add actual price (promo price when promo occurred or regular price otherwise)
data['PRICE_AFTER_DISC'] = data.PRICE_AFTER_DISC.combine_first(
    data.PRICE_REGULAR)

In [16]:
data_test = pd.read_csv('data/lt_test.csv')

In [17]:
test_ids = data_test.id

In [18]:
# data['demand'] = data['demand'].ffill().bfill()

In [19]:
lagged = pd.read_csv('data/data_lagged_features.csv')

In [20]:
lagged.demand.isna().sum()

226319

In [21]:
data.demand.isna().sum()

226319

In [22]:
data = data.sort_values(['location_id', 'period_dt'])
data['NUM_CONSULTANT'] = data['NUM_CONSULTANT'].ffill().bfill()

In [23]:
data = data.sort_values(['location_id', 'PRODUCT_LVL_RK6', 'period_dt'])

In [132]:
sales_by_sku = data.copy(deep=True).groupby(['product_id', 'period_dt']).agg(
    {'demand': 'sum', 'PROMO1_FLAG': 'sum', 'PROMO2_FLAG': 'sum', 'location_id': 'count',
     'PRICE_AFTER_DISC': 'mean'}).reset_index().set_index('period_dt').rename(columns={'location_id': 'Store_count'})

In [24]:
data['period_dt'] = pd.to_datetime(data.period_dt)
data["weekday"] = data.period_dt.dt.weekday
data["monthday"] = data.period_dt.dt.day
data['is_weekend'] = data.weekday.isin([5, 6])*1

In [25]:
data.PROMO1_FLAG.value_counts()

PROMO1_FLAG
1.0    342722
0.0    182165
2.0     25257
Name: count, dtype: int64

In [26]:
locations = pd.read_csv('data/location.csv')
products = pd.read_csv('data/product.csv')

In [27]:
products

,product_id,PRODUCT_LVL_RK6,PRODUCT_LVL_RK5,PRODUCT_LVL_RK4,PRODUCT_LVL_RK3,PRODUCT_LVL_RK2,PRODUCT_LVL_RK1,SALES_INTRODUCTION_DT,SALES_DISCONTINUED_DT,VALID_FROM_DTTM,...,PRODUCT_ATTRIB23_hashing,PRODUCT_ATTRIB24_hashing,PRODUCT_ATTRIB25_hashing,PRODUCT_ATTRIB26_hashing,PRODUCT_ATTRIB27_hashing,PRODUCT_ATTRIB28_hashing,PRODUCT_ATTRIB29_hashing,PRODUCT_ATTRIB30_hashing,PRODUCT_ATTRIB31_hashing,PRODUCT_TYPE_CD_hashing
0,15897,113162,6196,113158,9965,9848,1,NaN,NaN,15Mar2018:14:08:14,...,ABA09E400E1B0EACC434368750234C00,CE6E6B615231B052EF75AEDBED6491A5,8CF5176515BEEC570D4FB22350A55641,B2581C791DBB8894BFDCFB66B60A17ED,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,41B394758330C83757856AA482C79977
1,15899,4714,6196,113158,9965,9848,1,NaN,NaN,15Mar2018:14:08:14,...,ABA09E400E1B0EACC434368750234C00,CE6E6B615231B052EF75AEDBED6491A5,E054D49EAC1E947B5CB0EE77952C5F9E,B2581C791DBB8894BFDCFB66B60A17ED,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,41B394758330C83757856AA482C79977
2,15905,9986,6196,113158,9965,9848,1,NaN,NaN,15Mar2018:14:08:14,...,ABA09E400E1B0EACC434368750234C00,CE6E6B615231B052EF75AEDBED6491A5,8CF5176515BEEC570D4FB22350A55641,B2581C791DBB8894BFDCFB66B60A17ED,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,41B394758330C83757856AA482C79977
3,15906,9986,6196,113158,9965,9848,1,NaN,NaN,15Mar2018:14:08:14,...,ABA09E400E1B0EACC434368750234C00,CE6E6B615231B052EF75AEDBED6491A5,8CF5176515BEEC570D4FB22350A55641,B2581C791DBB8894BFDCFB66B60A17ED,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,41B394758330C83757856AA482C79977
4,15907,9986,6196,113158,9965,9848,1,NaN,NaN,15Mar2018:14:08:14,...,ABA09E400E1B0EACC434368750234C00,CE6E6B615231B052EF75AEDBED6491A5,8CF5176515BEEC570D4FB22350A55641,B2581C791DBB8894BFDCFB66B60A17ED,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,41B394758330C83757856AA482C79977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3502,191024,190706,6196,113158,9965,9848,1,NaN,NaN,03Jan2020:07:01:13,...,E0A3AAA77B50DDD3A67C3118EA559F6A,CE6E6B615231B052EF75AEDBED6491A5,B748B7A8EE4559D5BA632F0F079BDAC7,D2C50D70FBCF0A56020B70626BF2FB2C,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,41B394758330C83757856AA482C79977
3503,191025,190706,6196,113158,9965,9848,1,NaN,NaN,03Jan2020:07:01:13,...,E0A3AAA77B50DDD3A67C3118EA559F6A,CE6E6B615231B052EF75AEDBED6491A5,B748B7A8EE4559D5BA632F0F079BDAC7,D2C50D70FBCF0A56020B70626BF2FB2C,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,41B394758330C83757856AA482C79977
3504,191026,190706,6196,113158,9965,9848,1,NaN,NaN,03Jan2020:07:01:13,...,E0A3AAA77B50DDD3A67C3118EA559F6A,CE6E6B615231B052EF75AEDBED6491A5,B748B7A8EE4559D5BA632F0F079BDAC7,D2C50D70FBCF0A56020B70626BF2FB2C,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,41B394758330C83757856AA482C79977
3505,191027,190706,6196,113158,9965,9848,1,NaN,NaN,03Jan2020:07:01:13,...,E0A3AAA77B50DDD3A67C3118EA559F6A,CE6E6B615231B052EF75AEDBED6491A5,B748B7A8EE4559D5BA632F0F079BDAC7,D2C50D70FBCF0A56020B70626BF2FB2C,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,41B394758330C83757856AA482C79977
3506,191028,190706,6196,113158,9965,9848,1,NaN,NaN,03Jan2020:07:01:13,...,E0A3AAA77B50DDD3A67C3118EA559F6A,CE6E6B615231B052EF75AEDBED6491A5,B748B7A8EE4559D5BA632F0F079BDAC7,D2C50D70FBCF0A56020B70626BF2FB2C,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,FF83472786DB3B25D48ABD61502E1D91,41B394758330C83757856AA482C79977

In [36]:
from ipywidgets import IntProgress

from itertools import product


def percentile(n):
    '''Calculate n - percentile of data'''
    def percentile_(x):
        return np.percentile(x, n)
    percentile_.__name__ = 'pctl%s' % n
    return percentile_

# add missing dates to GroupBy.Core object


def fill_missing_dates(x, date_col):
    min_date, max_date = x[date_col].min(), x[date_col].max()
    groupby_day = x.groupby(pd.PeriodIndex(x[date_col], freq='D'))
    results = groupby_day.sum(min_count=1, numeric_only=True)

    idx = pd.period_range(min_date, max_date)
    results = results.reindex(idx, fill_value=np.nan)

    results.index.rename(date_col, inplace=True)

    return results


def calc_preag_fill(data, group_col, date_col, target_cols, preagg_method):
    # calc preaggregation
    data_preag = data.groupby(group_col).agg(
        preagg_method)[target_cols].reset_index()

    # fill missing dates
    data_preag_filled = data_preag.groupby(group_col[:-1]).apply(
        fill_missing_dates, date_col=date_col).drop(group_col[:-1],
                                                    axis=1).reset_index()

    # return DataFrame with calculated preaggregation and filled missing dates
    return data_preag_filled


def calc_rolling(data_preag_filled, group_col, date_col, method, w):

    # calc rolling stats
    lf_df_filled = data_preag_filled.groupby(group_col[:-1]).\
        apply(lambda x: x.set_index(date_col).rolling(
            window=w, min_periods=1).agg(method)).drop(group_col[:-1], axis=1)

    # return DataFrame with rolled columns from target_vars
    return lf_df_filled


def calc_ewm(data_preag_filled, group_col, date_col, span):
    # calc ewm stats
    lf_df_filled = data_preag_filled.groupby(group_col[:-1]).\
        apply(lambda x: x.set_index(date_col).ewm(
            span=span).mean()).drop(group_col[:-1], axis=1)

    # return DataFrame with rolled columns from target_vars
    return lf_df_filled


def shift(lf_df_filled, group_col, date_col, lag):
    # display(lf_df_filled)
    # print(group_col, group_col[:-1])
    # display(lf_df_filled.groupby(
    #     level=group_col[:-1]))
    # display(lf_df_filled.groupby(level = group_col[:-1]).apply(lambda x: x.shift(lag)))
    lf_df = lf_df_filled.apply(lambda x: x.shift(lag)).reset_index()
    # display(lf_df)
    lf_df[date_col] = pd.to_datetime(lf_df[date_col].astype(str))

    # return DataFrame with following columns: filter_col, id_cols, date_col and shifted stats
    return lf_df


def generate_lagged_features(
        data: pd.DataFrame,
        target_cols: list = ['demand'],
        id_cols: list = ['PRODUCT_LVL_RK6', 'STORE_LOCATION_LVL_RK4'],
        date_col: str = 'period_dt',
        lags: list = [53, 61, 71],
        windows: list = ['14D', '28D','35D'], # 14, 28
        preagg_methods: list = ['sum','mean'], # sum, mean
        agg_methods: list = ['mean', percentile(10), percentile(90)],
        dynamic_filters: list = ['PROMO1_FLAG'],
        ewm_params: dict = {'PROMO1_FLAG': [14, 42]}) -> pd.DataFrame:


    '''
    data - dataframe with default index
    target_cols - column names for lags calculation
    id_cols - key columns to identify unique values
    date_col - column with datetime format values
    lags - lag values(days)
    windows - windows(days/weeks/months/etc.),
        calculation is performed within time range length of window
    preagg_methods - applied methods before rolling to make
        every value unique for given id_cols
    agg_methods - method of aggregation('mean', 'median', percentile, etc.)
    dynamic_filters - column names to use as filter
    ewm_params - span values(days) for each dynamic_filter
    '''

    data = data.sort_values(date_col)
    out_df = deepcopy(data)
    dates = [min(data[date_col]), max(data[date_col])]

    total = len(target_cols) * len(lags) * len(windows) * \
        len(preagg_methods) * len(agg_methods) * len(dynamic_filters)
    progress = IntProgress(min=0, max=total)
    display(progress)

    for filter_col in dynamic_filters:
        group_col = [filter_col] + id_cols + [date_col]
        for lag in lags:
            for preagg in preagg_methods:
                data_preag_filled = calc_preag_fill(data, group_col, date_col,
                                                    target_cols, preagg)

                # add ewm features
                for alpha in ewm_params.get(filter_col, []):
                    ewm_filled = calc_ewm(data_preag_filled, group_col,
                                          date_col, alpha)
                    ewm = shift(ewm_filled, group_col, date_col, lag)
                    new_names = {x: "{0}_lag{1}d_alpha{2}_key{3}_preag{4}_{5}_dynamic_ewm".
                                 format(x, lag, alpha, '_'.join(id_cols), preagg, filter_col) for x in target_cols}

                    out_df['period_dt'] = pd.to_datetime(out_df['period_dt'])
                    out_df = pd.merge(out_df,
                                      ewm.rename(columns=new_names),
                                      how='left',
                                      on=group_col)

                # add rolling features
                for w in windows:
                    for method in agg_methods:
                        rolling_filled = calc_rolling(data_preag_filled,
                                                      group_col, date_col,
                                                      method, w)

                        # lf_df - DataFrame with following columns: filter_col, id_cols, date_col, shifted rolling stats
                        rolling = shift(rolling_filled, group_col, date_col,
                                        lag)

                        method_name = method.__name__ if type(
                            method) != str else method

                        new_names = {x: "{0}_lag{1}d_w{2}_key{3}_preag{4}_ag{5}_{6}_dynamic_rolling".
                                     format(x, lag, w, '_'.join(id_cols), preagg, method_name, filter_col) for x in target_cols}

                        out_df = pd.merge(out_df,
                                          rolling.rename(columns=new_names),
                                          how='left',
                                          on=group_col)
                        progress.value += 1

    return out_df

In [37]:
data['period_dt'] = pd.to_datetime(data['period_dt'], dayfirst=False)
data["ind_of_year"] = data.period_dt.dt.year
data["ind_of_month"] = data.period_dt.dt.month
data["ind_of_day"] = data.period_dt.dt.day
data["monthday"] = data.period_dt.dt.day
data["weekday"] = data.period_dt.dt.weekday

data['holiday_flag'] = ((data['ind_of_month'] == 12) & (
    data['ind_of_day'].isin([25]))).astype(int)
data['holiday_flag2'] = ((data['ind_of_month'] == 12) & (
    data['ind_of_day'].isin([28]))).astype(int)
data['holiday_flag2'] = ((data['ind_of_month'] == 12) & (
    data['ind_of_day'].isin([31]))).astype(int)

In [33]:
data

,period_dt,NUM_CONSULTANT,PRICE_AFTER_DISC,PRICE_REGULAR,PRODUCT_LVL_RK6,PROMO1_FLAG,PROMO2_FLAG,STORE_LOCATION_LVL_RK2,STORE_LOCATION_LVL_RK3,STORE_LOCATION_LVL_RK4,...,product_id,id,weekday,monthday,is_weekend,ind_of_year,ind_of_month,ind_of_day,holiday_flag,holiday_flag2
146400,2016-12-19,0.0,1899.0,1899.0,6198,1.0,0.0,10,203,203,...,21447,146400,0,19,0,2016,12,19,0,0
328981,2016-12-19,0.0,1899.0,1899.0,6198,1.0,0.0,10,203,203,...,86666,328981,0,19,0,2016,12,19,0,0
146401,2016-12-26,0.0,1899.0,1899.0,6198,1.0,0.0,10,203,203,...,21447,146401,0,26,0,2016,12,26,0,0
146402,2017-01-02,0.0,1899.0,1899.0,6198,1.0,0.0,10,203,203,...,21447,146402,0,2,0,2017,1,2,0,0
75917,2017-01-02,0.0,1899.0,1899.0,9982,1.0,0.0,10,203,203,...,21111,75917,0,2,0,2017,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472109,2019-12-30,0.0,599.7,1999.0,113178,1.0,0.0,10,219,219,...,98852,472109,0,30,0,2019,12,30,0,0
490852,2019-12-30,0.0,2249.0,2249.0,113178,1.0,0.0,10,219,219,...,99622,490852,0,30,0,2019,12,30,0,0
514302,2019-12-30,0.0,1174.5,2349.0,113178,1.0,0.0,10,219,219,...,103984,514302,0,30,0,2019,12,30,0,0
515350,2019-12-30,0.0,1174.5,2349.0,113178,1.0,0.0,10,219,219,...,103985,515350,0,30,0,2019,12,30,0,0
542573,2019-12-30,0.0,1099.5,2199.0,113178,1.0,0.0,10,219,219,...,129924,542573,0,30,0,2019,12,30,0,0

In [34]:
data_train = data[data.demand.isna() == False]

In [35]:
target_cols = ['demand']
id_cols = ['PRODUCT_LVL_RK6']
date_col = 'period_dt'
built_in_funcs = [pd.Series.kurtosis, pd.Series.skew]

# ПОШЛА ТЕПЛЕНЬКАЯ

In [38]:
data['NoFilter'] = 1
data['period_dt'] = data['period_dt'].astype(str)
data_lagged_features = generate_lagged_features(data)

IntProgress(value=0, max=54)

In [39]:
data_lagged_features.shape

(550144, 89)

In [300]:
data_lagged_features.to_csv('data_lagged_features.csv')

In [301]:
data_lagged_features.describe()

,period_dt,NUM_CONSULTANT,PRICE_AFTER_DISC,PRICE_REGULAR,PRODUCT_LVL_RK6,PROMO1_FLAG,PROMO2_FLAG,STORE_LOCATION_LVL_RK2,STORE_LOCATION_LVL_RK3,STORE_LOCATION_LVL_RK4,...,demand_lag53d_w28D_keyPRODUCT_LVL_RK6_location_id_preagsum_agpctl10_PROMO1_FLAG_dynamic_rolling,demand_lag53d_w28D_keyPRODUCT_LVL_RK6_location_id_preagsum_agpctl90_PROMO1_FLAG_dynamic_rolling,demand_lag71d_alpha14_keyPRODUCT_LVL_RK6_location_id_preagsum_PROMO1_FLAG_dynamic_ewm,demand_lag71d_alpha42_keyPRODUCT_LVL_RK6_location_id_preagsum_PROMO1_FLAG_dynamic_ewm,demand_lag71d_w14D_keyPRODUCT_LVL_RK6_location_id_preagsum_agmean_PROMO1_FLAG_dynamic_rolling,demand_lag71d_w14D_keyPRODUCT_LVL_RK6_location_id_preagsum_agpctl10_PROMO1_FLAG_dynamic_rolling,demand_lag71d_w14D_keyPRODUCT_LVL_RK6_location_id_preagsum_agpctl90_PROMO1_FLAG_dynamic_rolling,demand_lag71d_w28D_keyPRODUCT_LVL_RK6_location_id_preagsum_agmean_PROMO1_FLAG_dynamic_rolling,demand_lag71d_w28D_keyPRODUCT_LVL_RK6_location_id_preagsum_agpctl10_PROMO1_FLAG_dynamic_rolling,demand_lag71d_w28D_keyPRODUCT_LVL_RK6_location_id_preagsum_agpctl90_PROMO1_FLAG_dynamic_rolling
count,550144,550144.000000,550144.000000,550144.000000,550144.000000,550144.000000,550144.000000,550144.0,550144.000000,550144.000000,...,5.000000,5.000000,5.501330e+05,550133.000000,538331.000000,111.000000,111.000000,541461.000000,111.000000,111.000000
mean,2018-09-20 08:08:51.718241280,0.339653,1129.423908,1735.497769,94518.788474,0.714787,0.006069,10.0,148.538730,148.538730,...,1.229814,1.229814,1.387913e+00,1.433468,1.406152,2.624173,2.624173,1.439537,2.624173,2.624173
min,2016-12-19 00:00:00,0.000000,2.490000,110.000000,4306.000000,0.000000,0.000000,10.0,25.000000,25.000000,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2018-02-19 00:00:00,0.000000,787.000000,1349.000000,113162.000000,0.000000,0.000000,10.0,54.000000,54.000000,...,0.003571,0.003571,9.338457e-09,0.002186,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2018-10-22 00:00:00,0.000000,1019.400000,1649.000000,113176.000000,1.000000,0.000000,10.0,189.000000,189.000000,...,0.092308,0.092308,6.439174e-02,0.299593,0.000000,0.003521,0.003521,0.146648,0.003521,0.003521
75%,2019-05-20 00:00:00,0.000000,1346.221429,2049.000000,113176.000000,1.000000,0.000000,10.0,203.000000,203.000000,...,3.026596,3.026596,1.214250e+00,1.449204,1.122909,1.000000,1.000000,1.379121,1.000000,1.000000
max,2019-12-30 00:00:00,7.000000,5049.000000,5149.000000,113182.000000,2.000000,1.000000,10.0,258.000000,258.000000,...,3.026596,3.026596,8.660521e+01,84.447490,89.673948,66.688034,66.688034,83.250000,66.688034,66.688034
std,NaN,1.211914,479.013965,655.903622,39878.301576,0.543771,0.077669,0.0,76.370409,76.370409,...,1.640647,1.640647,3.784907e+00,3.263137,3.965284,10.987703,10.987703,3.551483,10.987703,10.987703

In [303]:
data_lagged_features.shape

(550144, 39)

In [337]:
sum(data_lagged_features.isna().sum() > 0)

67

In [338]:
sum(data_lagged_features.isna().sum() > 10000)

46

In [339]:
sum(data_lagged_features.isna().sum() > 100000)

46

In [340]:
sum(data_lagged_features.isna().sum() > 200000)

39

In [342]:
sum(data_lagged_features.isna().sum() <200000)

50

In [346]:
pd.Index(data_lagged_features.isna().sum() <200000)

Index([ True,  True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False,  True, False,
       False,  True, False, False,  True,  True, False, False, False,  True,
       False, False,  True, False, False,  True,  True,  True, False, False,
        True, False, False,  True, False, False,  True,  True, False, False,
       False,  True, False, False,  True, False, False,  True,  True,  True,
       False, False,  True, False, False,  True, False, False,  True,  True,
        True, False, False,  True, False, False,  True, False, False],
      dtype='bool')

In [40]:
to_drop = [col for col in data_lagged_features.columns if data_lagged_features[col].isna().sum() > 200000]

In [41]:
to_drop.remove('demand')

In [42]:
len(to_drop)

38

In [43]:
data_lagged_features.drop(to_drop, axis = 1, inplace=True)

In [49]:
data_lagged_features.demand

0         0.388889
1         0.700000
2         0.636364
3         1.125000
4         1.080000
            ...
550139         NaN
550140         NaN
550141         NaN
550142         NaN
550143         NaN
Name: demand, Length: 550144, dtype: float64

In [50]:
data_lagged_features.to_csv('data/data_lagged_features_version2.csv')

In [52]:
pd.read_csv('data/data_lagged_features_version2.csv').demand

0         0.388889
1         0.700000
2         0.636364
3         1.125000
4         1.080000
            ...
550139         NaN
550140         NaN
550141         NaN
550142         NaN
550143         NaN
Name: demand, Length: 550144, dtype: float64

In [341]:
sum(data_lagged_features.isna().sum() > 500000)

36

# модели

In [211]:
data_test = pd.read_csv('data/lt_test.csv')

In [212]:
#  time series cross validation
def performTimeSeriesCV(X_train, y_train, number_folds, model, metrics, kwargs={}):
    print('Size train set: {}'.format(X_train.shape))

    # size of a fold
    fold_size = int(np.floor(float(X_train.shape[0]) / number_folds))
    print('Size of each fold: {}'.format(fold_size))

    errors = np.zeros(number_folds-1)

    # loop from the first 2 folds to the total number of folds
    for i in range(2, number_folds + 1):
        print('')
        train_share = float(i-1)/i
        print('Splitting the first ' + str(i) +
              ' chunks at ' + str(i-1) + '/' + str(i))

        X = X_train[:(fold_size*i)]
        y = y_train[:(fold_size*i)]
        # the size of the dataframe is going to be k*i
        print('Size of train and test: {}'.format(X.shape))

        index = int(np.floor(X.shape[0] * train_share))

        # folds used to train the model
        X_trainFolds = X[:index]
        y_trainFolds = y[:index]

        # fold used to test the model
        X_testFold = X[(index + 1):]
        y_testFold = y[(index + 1):]

        model.fit(X_trainFolds, y_trainFolds, **kwargs,
                  eval_set=[(X_testFold, y_testFold)])
        print(len(X_testFold))
        errors[i-2] = metrics(model.predict(X_testFold), y_testFold)

    # the function returns the mean of the errors on the n-1 folds
    return errors.mean()

def smape(A, F):
    return 100/len(A) * np.sum(2 * np.abs(F - A) / (np.abs(A) + np.abs(F)))

In [213]:
def fit_predict(data: pd.DataFrame, model, cross_val=False, num_folds=10):
    sku_store = data_test[['product_id', 'location_id']].groupby(
        'product_id')['location_id'].unique().to_dict()
    val_start_dt = '2019-10-28'
    val_end_dt = '2019-11-25'
    test_start_dt = '2019-12-02'
    val_predictions = pd.DataFrame()
    test_predictions = pd.DataFrame()
    true_vals = []
    for sku in sku_store.keys():
        for store in sku_store[sku]:

            sku_store_data = data[(data['product_id'] == sku) & (
                data['location_id'] == store)].set_index('period_dt')
            # scaler = StandardScaler()

            sku_store_x_train = sku_store_data.loc[:'2019-11-25'].drop(
                ['demand', 'product_id', 'store_id'], axis=1)
            sku_store_y_train = sku_store_data.loc[:'2019-11-25'].demand
            # x_train_scaled = scaler.fit_transform(sku_store_x_train)

            sku_store_x_val = sku_store_data.loc[val_start_dt:val_end_dt].drop(
                ['demand', 'product_id', 'location_id'], axis=1)
            sku_store_y_val = sku_store_data.loc[val_start_dt:val_end_dt].demand
            # x_val_scaled = scaler.transform(sku_store_x_val)

            sku_store_x_test = sku_store_data.loc[test_start_dt:].drop(
                ['demand', 'product_id', 'location_id'], axis=1)
            # x_test_scaled = scaler.transform(sku_store_x_test)
            param_grid = {
                'n_estimators': [100, 200, 300],
                'max_depth': [3, 4, 5, 6, 7],
            }

            # grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=15, n_jobs=-1, scoring='neg_mean_absolute_error')

            if cross_val:
                performTimeSeriesCV(
                    sku_store_x_train, sku_store_y_train, num_folds, model, metrics=smape)
            else:
                model.fit(sku_store_x_train, sku_store_y_train)

            # print(sku,store)

            y_val_pred = model.predict(sku_store_x_val)
            val_preds = pd.DataFrame()
            val_preds['period_dt'] = sku_store_x_val.index
            val_preds['product_rk'] = sku
            val_preds['location_id'] = store
            val_preds['demand'] = y_val_pred
            val_predictions = pd.concat([val_predictions, val_preds])
            true_vals += sku_store_y_val.values.tolist()
            # break

            y_test_pred = model.predict(sku_store_x_test)
            test_preds = pd.DataFrame()
            test_preds['period_dt'] = sku_store_x_test.index
            test_preds['product_id'] = sku
            test_preds['location_id'] = store
            test_preds['demand'] = y_test_pred
            test_predictions = pd.concat([test_predictions, test_preds])
        # break

    return val_predictions, true_vals, test_predictions

In [214]:
data

,period_dt,location_id,product_id,demand,PROMO1_FLAG,PROMO2_FLAG,PRICE_REGULAR,PRICE_AFTER_DISC,NUM_CONSULTANT,AUTORIZATION_FLAG,id,weekday,monthday,is_weekend,NoFilter,ind_of_year,ind_of_month,ind_of_day,holiday_flag,holiday_flag2
272573,2016-12-19,309.0,23252.0,0.388889,0.0,0.0,2099.0,2099.0,0.0,1.0,277726,0,19,0,1,2016,12,19,0,0
272574,2016-12-26,309.0,23252.0,0.388889,0.0,0.0,2099.0,2099.0,0.0,1.0,277727,0,26,0,1,2016,12,26,0,0
272575,2017-01-02,309.0,23252.0,0.111111,0.0,0.0,2099.0,2099.0,0.0,1.0,277728,0,2,0,1,2017,1,2,0,0
273229,2016-12-19,309.0,23260.0,1.000000,0.0,0.0,2099.0,2099.0,0.0,1.0,278382,0,19,0,1,2016,12,19,0,0
273230,2016-12-26,309.0,23260.0,1.000000,0.0,0.0,2099.0,2099.0,0.0,1.0,278383,0,26,0,1,2016,12,26,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3404841,2019-12-30,NaN,NaN,NaN,1.0,0.0,2749.0,2749.0,0.0,0.0,3409994,0,30,0,1,2019,12,30,0,0
3404842,2019-12-30,NaN,NaN,NaN,1.0,0.0,2749.0,2749.0,0.0,0.0,3409995,0,30,0,1,2019,12,30,0,0
3404843,2019-12-30,NaN,NaN,NaN,1.0,0.0,2749.0,2749.0,0.0,0.0,3409996,0,30,0,1,2019,12,30,0,0
3404844,2019-12-30,NaN,NaN,NaN,1.0,0.0,2749.0,2749.0,0.0,0.0,3409997,0,30,0,1,2019,12,30,0,0
3404845,2019-12-30,NaN,NaN,NaN,1.0,0.0,2749.0,2749.0,0.0,0.0,3409998,0,30,0,1,2019,12,30,0,0